---
---
<section id='contact' class='contact'>
	<div class='container'>
		<div class='contact-heading'>
			<h2 class='contact-title gradient-text'>Contact</h2>
			<p class='contact-p'>
				Please leave your name and email, followed by a message describing
				how I can help you! I will respond to your message as soon as
				possible. For general inquiries, you may use this form or contact me
				via
				<a href='https://twitter.com/BrianSchneeDev'>
					<span class='gradient-text gradient-link'> Twitter</span>
				</a>
				. Thank you!
			</p>
		</div>
		<form
			class='form'
			action='POST'
			netlify-honeypot='bot-field'
			data-netlify-recaptcha='true'
			data-netlify='true'
		>
			<div>
				<div class='person'>
					<section class='name'>
						<label class='label' for='name-input'>
							Name
						</label>
						<input
							id='name-input'
							type='text'
							name='name'
							placeholder='Enter your name here'
							required
						/>
					</section>
					<section class='email'>
						<label class='label' for='email-input'>
							Email
						</label>
						<input
							id='email-input'
							type='email'
							name='email'
							placeholder='Enter your email here'
							required
						/>
					</section>
				</div>
				<section class='message'>
					<label class='label' for='message-area'>
						Message
					</label>
					<textarea
						id='message-area'
						name='message'
						placeholder='Enter message here'
						required
					></textarea>
				</section>
			</div>
			<div class='captcha' data-netlify-recaptcha='true'></div>
			<button class='submit' type='submit'>
				Submit
			</button>
		</form>
		<hr class='line' />
	</div>
</section>
