---
---
<footer class='footer'>
	<h4 class='page-author'>
		Codebase produced and built by{' '}
		<a
			class='author gradient-text gradient-link'
			href='https://twitter.com/BrianSchneeDev'
		>
			<span>Brian Schnee</span>
		</a>
	</h4>
</footer>
